{{outlet}}

<div class=create-form>
<h1>Create a new listing</h1>
<script>console.log("apihost: {{apihost}}");</script>
<script>console.log("uniqid: {{uniqid}}");</script>
<form method='POST' id="create-listing-form">
  {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
  {{input type="string" value=title class="form-control" placeholder="Title:" autofocus="autofocus"}}
  {{input type="string" value=owner class="form-control" placeholder="Owner" autofocus="autofocus"}}
  {{input type="string" value=city class="form-control" placeholder="City:" autofocus="autofocus"}}
  {{input type="string" value=type class="form-control" placeholder="Type:" autofocus="autofocus"}}
  {{input type="string" value=price class="form-control" placeholder="Price:" autofocus="autofocus"}}
  {{input type="textarea" value=summary class="form-control" placeholder="Summary:" autofocus="autofocus"}}
  {{input type="hidden" value=uniqid class="form-control"}}
  {{drop-zone url=apiImages id="my-awesome-dropzone"}}
</form>

<button class="btn btn-primary btn-lg btn-block" disabled="{{unless isValid 'disabled'}}" {{action 'saveRental'}}>Create Listing</button>
</div>

<script>
    Dropzone.options.myAwesomeDropzone = {
      init: function() {
        console.log('dropzone init');
        dictDefaultMessage: "Drop images here to upload."

        // send the uniqid with each upload
        this.on("sending", function(file, xhr, formData) {
          console.log("uniqid", {{uniqid}});
          formData.append("uniqid", {{uniqid}});
        });
      }
    };
</script>
