<h1>Welcome to Rentals</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

{{#each model as |rental|}}
  <h2>{{rental.title}}</h2>
  <p>Id: {{rental.id}}</p>
  <p>Owner: {{rental.owner}}</p>
  <p>Type: {{rental.type}}</p>
  <p>City: {{rental.city}}</p>
  <p>Summary: {{rental.summary}}</p>
  <p>Price: {{rental.price}}</p>
  <p>Available: {{rental.available_month}}</p>
{{/each}}

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Click here to contact us.{{/link-to}}
