{{outlet}}
<h1>Create a new listing</h1>


<form method='POST' {{action "create" on="submit"}}>
  {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
  {{input type="string" value=title class="form-control" placeholder="Title:" autofocus="autofocus"}}
  {{input type="string" value=owner class="form-control" placeholder="Owner" autofocus="autofocus"}}
  {{input type="string" value=city class="form-control" placeholder="City:" autofocus="autofocus"}}
  {{input type="string" value=type class="form-control" placeholder="Type:" autofocus="autofocus"}}
  {{input type="string" value=price class="form-control" placeholder="Price:" autofocus="autofocus"}}
  {{input type="textarea" value=summary class="form-control" placeholder="Summary:" autofocus="autofocus"}}
  <button class="btn btn-primary btn-lg btn-block" disabled="{{unless isValid 'disabled'}}" {{action 'saveInvitation'}}>Request invitation</button>
</form>
