<h2>{{model.title}}</h2>
<p>Id: {{model.id}}</p>
<p>Owner: {{model.owner}}</p>
<p>Type: {{model.type}}</p>
<p>City: {{model.city}}</p>
<p>Summary: {{model.summary}}</p>
<p>Email: {{model.emailAddress}}</p>
<p>Price: {{model.price}}</p>
<p>Available: {{model.available_month}}</p>
{{#if isImageShowing}}
  <p><img src={{model.image}} alt={{model.type}} width="500px"></p>
  <button {{action "imageHide"}}>Hide Image</button>
{{else}}
  <button {{action "imageShow"}}>Show Image</button>
{{/if}}

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Click here to contact us.{{/link-to}}
{{#link-to "index"}}Return home.{{/link-to}}
